.container {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 400px;
}
.counter {
  background-color: #5c47d2;
  border-radius: 12px;
  width: fit-content;
  text-align: center;
  padding: 20px;
  padding-inline: 35px;
  margin: 10px;
  color: white;
  font-size: 40px;
}
.resetButton {
  background-color: #5c47d2;
  color: white;
  border: none;
  border-radius: 6px;
  width: fit-content;
  padding-inline: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 26px;
}
.containerGlobal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 40px;
}
.hide {
  display: none;
}
